@model CartViewModel;

@foreach (var item in Model.CartAllDataForPhotoViewModal)
{
    @foreach (var file in item.FirstFileRepos)
    {
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Kart Fotoğrafı</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </div>
            <div style="text-align:center">
                <div align="center" class="modal-body">
                    <h5>@item.CartName</h5>
                    <b><img src="data:image/png;base64,@Convert.ToBase64String(file.FileData)" loading="lazy" width="400" height="400" /></b>
                </div>
            </div>
        </div>
    }
}
