<h1>Anasayfa</h1>

        <li >
            <ul>
                <li>
                    <a href="@Url.Action("Users","Admin")">Kullanıcılar</a>
                </li>
                <li>
                    <a href="@Url.Action("ScoreTable","Admin")">Skor Tablosu</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="@Url.Action("CartIndex","Admin")">Kartlar</a>
                </li>
                <li>
                    <a href="@Url.Action("CategoryIndex","Admin")">Kategoriler</a>
                </li>
            </ul>
        </li>